/*----===Fonts===----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*----Varaibles----*/
:root {
    /*Colors*/
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-success-variant: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-info-light: #dce1eb;
    --color-light: rgba(78, 78, 82, 0.3);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #d8d8e6ad;

    /*------------------------------------------------*/
    /*---------------------DT-Colors------------------*/
    /*------------------------------------------------*/
    --dt-border-color: var(--color-dark);
    --dt-input-color: var(--color-light);
    --dt-text-color: #000;
    --dt-hover-cell-color: var(--color-primary);
    --dt-input-background-color: var(--color-primary);
    --dt-even-row-color: rgba(115, 127, 236, 0.6);

    /*------------------------------------------------*/
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    /*------------------------------------------------*/
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /*------------------------------------------------*/
    --box-shadow: 0 2rem 3rem var(--color-light);

    /*------------------------------------------------*/
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #56595c;
    --color-dark: #edeffd;
    --color-info-dark: #c5c8cab2;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(163, 162, 162, 0.3);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --dt-text-color: #ececec;
    --color-success-variant: #7380ec;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    transition: all 1ms ease-in-out;
}

body::-webkit-scrollbar {
    width: 10px;
    background: var(--color-info-dark);
    border-radius: var(--border-radius-2);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-primary-variant);
    border-radius: var(--border-radius-3);
}

.hiden {
    display: none;
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 1.8rem;
    grid-template-columns: 12rem 85vw;
}

a {
    color: var(--color-dark);
}

.ico {
    display: block;
    font-size: 48px;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-dark);
}

h2 {
    font-size: 1.4rem;
    color: var(--dt-text-color);
}

h3 {
    font-size: 0.87rem;
    color: var(--dt-text-color);
}

h4 {
    font-size: 0.8rem;
    color: var(--dt-text-color);
}

h5 {
    font-size: 0.77rem;
    color: var(--dt-text-color);
}

small {
    font-size: 0.75rem;
}

.text-muted {
    color: var(--color-info-dark);
}

P {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 500ms ease-in-out;
}

aside .top {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo .ico {
    width: 2rem;
    height: 2rem;
    color: var(--color-warning);
}

aside .close {
    display: none;
}

aside .sidebar {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 300;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 200ms ease-in-out;
}

aside .sidebar a ion-icon {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar .active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar .active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar .active ion-icon {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover ion-icon {
    margin-left: 1rem;
}

/*----====Main====----*/
.mainHeader {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
}

.mainHeader .themeChange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: fit-content;
    cursor: pointer;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
}

.mainHeader .themeChange div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 4px;
}

.mainHeader .themeChange ion-icon {
    margin: 0 4px;
    font-size: 1.6rem;
    color: var(--dt-text-color);
}

.mainHeader .themeChange .active {
    background: var(--color-primary);
    border-radius: var(--border-radius-1);
    width: 50%;
    height: 100%;
}


main {
    margin-top: 4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

.row8515{
    display: grid;
    grid-template-rows: 85% auto;
}

.colum5050{
    display: grid;
    grid-template-columns: 50% 50%;
}

.colum1580{
    display: grid;
    grid-template-columns: 15% 80%;
}

.colum6040{
    display: grid;
    grid-template-columns: 60% 40%;
}

.colum2 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.colum5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.colum6 {
    display: grid;
    grid-template-columns: 15% 10% 25% 20% 20% 10%;
}

.colum7 {
    display: grid;
    grid-template-columns: 5% 10% 17% 17% 18% 18% 15%;
}

.box {
    width: 100%;
    height: 100%;
    padding: 16px;
}

.colum2 .box .dl-header {
    padding: 24px 0 16px 0;
}

.squer {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 8px;
    border: solid 1px #000 ;
}

.squer-active {
    background-color: var(--color-success);
}

.squer-danger {
    background-color: var(--color-danger);
}

.squer-warning {
    background-color: var(--color-warning);
}

/*----====Data Table====----*/

.container {
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    width: 90%;
    margin: 1rem auto;
    font-size: 12px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.33);
    padding: 8px;
    transition: all 500ms ease-in-out;
    color: var(--dt-text-color);
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
    background: var(--color-info-dark);
    border-radius: var(--border-radius-2);
}

.scrollable::-webkit-scrollbar-thumb {
    background: var(--color-primary-variant);
    border-radius: var(--border-radius-3);
}

.table-small {
    max-height: 300px;
}

.table-medium {
    max-height: 500px;
}

.table-big {
    max-height: 720px;
}

.datatable-header {
    width: 100%;
    margin: 1.8rem 0 0 1.8rem;
}

.container .datatable {
    border-collapse: collapse;
    width: 90%;
    margin: 0 4.5%;
}

.container .datatable thead {
    background-color: var(--color-white);
    position: sticky;
    top: -16px;
    box-shadow: 0 1px 1px -1px rgb(0, 0, 0);
    color: var(--dt-text-color);
}

.container .datatable,
.container .datatable th,
.container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
    color: var(--dt-text-color);
}

.container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.container .datatable td {
    border-bottom: solid 1px var(--dt-border-color);
}

.container .datatable tbody tr:nth-child(even) {
    background-color: var(--dt-even-row-color);
}

.container .datatable tbody tr:hover {
    background-color: var(--dt-hover-cell-color);
}

.container .datatable tbody tr:hover .Link-Button {
    color: var(--color-info-light);
    border-color: var(--color-info-light);
}
/*----------------------------------------------------------------------------------*/
/*---------------------------------------Forms--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.Login-form {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.Login-form .formContainer:hover {
    box-shadow: 5px 15px 15px 5px rgba(0, 0, 0, 0.33);
}

.formContainer {
    height: calc(auto + 20px);
    width: 100%;
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 15px 20px;
    top: 15%;
    left: 10%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    margin: 1rem auto;
    color: var(--dt-text-color);
    transition: all 500ms ease-in-out;
}

.formTitle {
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
}

.formTitle::before {
    content: '';
    margin-top: 4px;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 100%;
    background: var(--color-primary);
}

.formContainer form .box-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-detail {
    padding-top: 16px;
    height: fit-content;
}

form .box-detail .input-box {
    margin: 4px 0 4px 0;
    width: 90%;
}

.formcolum2{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.box-detail .input-box .detail {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.box-detail .input-box input,
.input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--color-dark);
    padding-left: 8px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.box-detail .input-box input:focus,
.box-detail .input-box .input:focus,
.box-detail .input-box input:valid {
    border-color: var(--color-primary);
}

form .buttons {
    margin: 16px;
    display: flex;
    justify-content: space-between;
}

/*----====Buttons====----*/

.Primary-Button {
    width: 90%;
    padding: 10px 0;
    background: var(--color-success-variant);
    color: var(--dt-text-color);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.18);
}

.Secondary-Button {
    width: 90%;
    padding: 8px 0;
    background: var(--color-danger);
    color: var(--dt-text-color);
    margin-left: 16px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.18);
}

.Link-Button {
    width: 90%;
    padding: 0 2px;
    background: transparent;
    border-radius: var(--border-radius-2);
    border: solid var(--color-primary-variant) 2px;
    color: var(--color-primary-variant);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: 0 8px;
}

.Link-Button:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/*----====Data list====----*/

li div {
    align-items: center;
    align-content: center;
    text-align: center;
    color: var(--dt-text-color);
}

li div a {
    font-weight: 300;
    color: var(--color-primary-variant);
}

li div a:hover {
    color: var(--color-danger);
}

/*----====Task list====----*/
.task .box-detail .input-box {
    padding: 18px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 20px auto;
    grid-column-gap: 8px;
}

.dateTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dt-text-color);
}

.date-left {
    display: flex;
    align-items: center;
}

#date-number {
    font-size: 36px;
}

#dateday {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 24px;
}

#date-number,
#dateday,
#datemonth {
    font-weight: bold;
}

#datemonth,
#dateyear {
    padding-left: 8px;
    font-size: 16px;
}

.btn_addTask {
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.taskelement {
    background-color: var(--color-warning);
    width: 100%;
    text-align: center;
    font-size: 14px;
    transition: ease-out 200ms ease-out;
    cursor: pointer;
}

.done {
    background-color: var(--color-success);
    text-decoration: line-through;
}

/***************************************************************************/
/**********************************Carsd************************************/
/***************************************************************************/
.Center {
    display: flex;
    justify-content: center;
}

.CenterColum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.left {
    position: absolute;
    top: 16px;
    left: 94%;
}

.cardDetail {
    width: 80%;
    height: fit-content;
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-3);
    margin-top: 32px;
    box-shadow: var(--box-shadow);
    color: var(--dt-text-color);
    font-size: 16px;
    position: relative;
}

.row .NumProd {
    margin-top: 20px;
    text-align: center;
    padding-bottom: var(--padding-1);
    border-bottom: 1px solid var(--color-primary-variant);
}

.NumProd span {
    font-size: 64px;
    font-weight: 600;
    position: relative;
}

.NumProd span::before {
    position: absolute;
    content: "#";
    font-size: 16px;
    left: -16px;
    top: 17px;
    font-weight: 300;
}

.link {
    font-weight: 300;
    color: var(--color-primary-variant);
}

.link:hover {
    color: var(--color-danger);
}

.details {
    padding: 24px 0 24px 36px;
}

.details li {
    padding: 0 0 8px 36px;
    border-left: 4px solid var(--color-primary-variant);
    margin-left: 8px;
}

/***************************************************************************/
/*********************************PopUp's***********************************/
/***************************************************************************/
.popup{
    width: 100vw;
    height: 100vh;
    background-color: #a3bdcc41;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1) ;
    text-align: center;
    padding: 30px 30px;
    color: var(--dt-text-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.openPopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) ;
}

/***************************************************************************/
/*******************************Form Multiple******************************/
/***************************************************************************/
.container header,
.box-detail header{
    display: flex;
    align-items: center;
    padding: 8px 2px;
    height: 40px;
    width: 20%;
    border: 1px solid var(--dt-text-color);
    border-radius: 40px;
    position: relative;
}

.container input[type="radio"]{
    display: none;
}

header label{
    height: 100%;
    width: 33%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--dt-text-color);
    font-weight: bolder;
    font-size: 24px;
    transition: all 0.6ms ease;
}

header .slider-btn{
    position: absolute;
    height: 95%;
    width: 33%;
    background: var(--color-success-variant);
    border-radius: inherit;
}

#tab-1:checked ~ header .slider-btn{
    left: 0%;
    transform: translate(5%);
}

#tab-2:checked ~ header .slider-btn{
    left: 50%;
    transform: translate(-50%);
}

#tab-3:checked ~ header .slider-btn{
    left: 100%;
    transform: translate(-105%);
}

.box .slider{
    display: grid;
    width: 300%;
    grid-template-columns: 100% 100% 100%;
    position: relative;
}

.slider form{
    width: 33.4%;
    padding-left: 50px;
}

.slider .datatable{
    margin: 0;
    width: 32%;
}

.slider .datatable-header{
    margin: 0;
}

.slider .datatable thead{
    top: -18px;
}

#tab-1:checked ~ .box .slider .row1{
    margin-left: 0%;
}

#tab-2:checked ~ .box .slider .row1{
    margin-left: -100%;
}

#tab-3:checked ~ .box .slider .row1{
    margin-left: -200.5%;
}

.text-collaps{
    margin: 16px 0 16px 16px;
    color: var(--color-info-dark);
    transition: all 500ms ease-in-out;
}

.text-collaps .colum5050{
    margin-top: 16px;
}

.text-collaps .colum5050:nth-child(even){
    border: 1px 0 1px 0 solid var(--dt-text-color);
}

.input-box label,
.input-box input[type="submit"]{
    display: block;
    width: fit-content;
    padding: 8px;
    margin: 8px 0 0 50%;
}

.formfooter{
    width: 33%;
    justify-items: center;
}

.formfooter label,
.formfooter a
{
    width: 50%;
    text-align: center;
    color: var(--dt-text-color);
}

.container .w40{
    width: 40%;
}

.input-box .squer{
    cursor: pointer;
}

.box-detail h3{
    font-size: 16px;
    margin-bottom: 16px;
}

form .box-detail .margin-top{
    margin: 60px 0 4px 0;
}

.input-box .squer{
    border: solid #000 2px;
}

